@charset "utf-8";
/* CSS Document */

body {
  background-color: grey;
  overflow:none;
 
}
#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;

 background-color: darkgrey;
	

}
#banner {
  background-image:url("../images/banner.jpg");

  width: 960px;
  height: 150px;
  
  
 
}

#frm{
text-align: center;
color:#000000;
width: 100%;

}

#frm2{
	
color:#000000;
width: "700";
text-align: center;

}
#frmRadio{
	
color:#000000;
width: "700";
text-align: left;

}

#checkbox {
	
	text-align: left;
	font-size: 14px;
	
	
	
}
#button{
	margin-top: 10px;
	margin-bottom: 10px;
	
	color: #fff;
	background: #337ab6;
	padding : 5px;
	
	
}
#error {
	width: 50%;
	border: 1px solid;
	background: #FF0000;
	color: #FF0000;
	text-align: center;
	
	
}

/*----- Menu Outline -----*/
.navBar-wrap {
	height: 50px;
	border-top-style: solid;
	//border-top-height: 6px;
	border-top-color: #292929;
	background: lightgreen;
	text-align: center;
}
.navBar {
	text-align: center;
	padding-left: 90px;
	width: 960px;
	
	
}
.navBar li {
	color:#000000;
	list-style: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
}
.navBar li a {
	transition: all linear 0.15s;
	
}

/*----- Top Level -----*/
.navBar > ul > li {
	float: left;
	display: inline-block;
	position: relative;
	font-size: 18px;
	color: #000000;
}
.navBar > ul > li > a {
	width: 100px;
	line-height: 20px;
	text-align: center;
	color: #000000;
	font-style: Italic;
}
.navBar > ul > li:hover > a {
	background: #cc00cc;
}
/*----- Bottom Level -----*/
.navBar li:hover .subIssues {
	z-index: 10;
	opacity: 1;
	display: inline-table;
}
.subIssues {
	width: 130px;
	top: 100%;
	opacity: 0;
	transition: opacity linear 0.15s;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	background: #cc00cc;
	display: none;
}
.subIssues li {
	display: block;
	background-color:#cc00cc;
}
.subIssues li a {
	display: block;
	text-align: center;
	color: #000;
}
.subIssues li a:hover {
	color: #cc00cc;
}
#content {
	width: 920px;
	padding-left: 30px;
	padding-right: 10px;
	
	border-top-style: solid;
	
	border-top-color: #292929;
	padding-top: 15px;
	padding-bottom: 20px;
	
	
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	color:#000000;
}
.headingBrown {
	color: #000000;
	text-align: center;
}



#footer{
	background: lightgreen;
	width: 960px;

	border-bottom-style: solid;
	border-bottom-color: #292929;
	border-top: 3px;
	border-top-style: solid;
	border-top-color: #292929;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
	
}
a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}
#footer a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}
.a:hover {
  color: #cc00cc;
  
}
ul {
	font-style:normal;
  	
}
li {
	font-style: normal;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: blink;
  }

h2 {
  	color: #292929;
}
.a:link{
	font-size: 14px;
	color: #FFF1D3;
}
.headingContact {
  color: #733b0a;	
}
.headingRegister {
  color: #733b0a;	
}
#myForm {
	text-align:left;
	font-size:12px;
	color: #292929;
	
 }
label {
	float: left;
	width: 150px;
	color: #FFFCFC;
	font-weight: bold;
}
.imgHome {
	width:120;
	height:120;
  float: left;	
  
  padding-right: 10px;
}
.imgT{
	padding-top:10px;
	padding-right:10px;
	float:left;	
}
.pT {
padding-left: 10px;	
}



div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {
	background: #2d1e02;
	font-style: normal;
	font-weight: bold;
}
ul li:hover ul {display:block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #2d1e02; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}
#gallery {
	float:left;
	width:1000px;
	height: 400px;
}
#container #content #gallery ul{
  list-style:none;
  margin:0;
  padding:0;
  width:180px;
  position:relative;
  float:left;
}
#container #content #gallery ul li{
	display: inline;
	width: 52px;
	height: 52px;
	float: left;
	margin-top: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
  }
#container #content #gallery ul li a{
  display:block;
  width:50px;
  height:50px;
  text-decoration:none;
  
  }
#container #content #gallery ul li a img{
  display:block;
  width:50px;
  height:50px;
  border:0;
 }
#container #content #gallery ul li a:hover{
 white-space:normal;
 border-color:#21CF80;
 }
#container #content #gallery ul li a:hover img{
	position: absolute;
	width: 420px;
	height: 350px;
	border: 1px #000000;
	float: right;
	left: 315px;
	right: 185px;
	top: 0px;
 }

* {
  font-family: 'Lato', Arial, Helvetica, sans-serif !important;
  color:#2E313F;
}
html {
  overflow:none;
}

p#status-wrapper {
  background-color:#756563;
  width:100%;
  padding:1em;
  font-weight:900;
  font-size:1.125em;
  position:absolute;
  top:-18px;
  left:0;
  color:#fffffa;
}
p#pgn-wrapper {
  font-weight:900;
  font-size:1.25em;
  max-width:600px;
  margin:0 auto;
  
}

